# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.venv311/
venv/
.env/

.DS_Store
*.swp
*.swo
dist/
build/
*.egg-info/

# ignore rich text
*.rtf

# venv
.venv/
.venv311/
venv/

# venv
.venv/
.venv311/
venv/
